Source: digitd
Section: net
Priority: optional
Maintainer: Reuben Thomas <rrt@sc3d.org>
Standards-Version: 3.7.3
Build-Depends: debhelper (>= 9)

Package: digitd
Architecture: all
Depends: perl, netbase, adduser, update-inetd
Conflicts: cfingerd, fingerd, xfingerd, efingerd
Suggests: finger
Description: A simple, flexible and safe finger daemon
 digitd is ready-to-run out of the box, yet easy to customize. It
 allows users to opt in to being fingerable, rather than the usual
 opt-out.
