Source: efingerd
Section: net
Priority: optional
Maintainer: Radovan Garabík <garabik@kassiopeia.juls.savba.sk>
Standards-Version: 3.7.3
Build-Depends: debhelper (>= 9)

Package: efingerd
Architecture: all
Depends: perl, netbase, adduser, update-inetd
Conflicts: cfingerd, fingerd, xfingerd
Suggests: finger
Description: Another finger daemon for unix capable of fine-tuning your output.
 efingerd is a finger daemon, which executes programs and displays their
 output. This gives you complete control over what to display and to who, 
 and an extreme configurability.
